@import "tailwindcss";
@font-face {
  font-family: "poppins";
  src: url("./assets/font/montserrat-regular.ttf");
}
* {
  font-family: "poppins" !important;
  scroll-behavior: smooth;
}
.leftToRight {
  animation: leftToRight 2s ease-in-out;
}
.rightToLeft {
  animation: rightToLeft 3s ease-in-out;
}
.topToBtm {
  animation: topToBtm 1s ease-in-out;
}
@keyframes leftToRight {
  from {
    transform: translateX(-100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes rightToLeft {
  from {
    transform: translateX(100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes topToBtm {
  from {
    transform: translateY(-100%) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
@media only screen and (max-width: 1024px) {
  .sectionTop {
    width: 100%;
    overflow-x: auto;
    height: 90px;
    flex-direction: column;
  }
  .sectionTop .first {
    margin: 5px 0px;
  }
  .sectionTop .second {
    margin: 5px 0px;
  }
  .sectionFirst {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 160px;
    /* padding: 15px; */
  }
  .sectionFirst .rightToLeft img {
    width: 50%;
    margin: auto;
  }
  .sectionSecond {
    width: 100%;
  }
  .sectionSecond .third {
    grid-template-columns: 1fr;
  }
  .sectionThird {
    width: 100%;
  }
  .sectionThird .first {
    width: 40%;
  }
  .sectionThird .second {
    width: 60%;
  }
  .sectionFourth {
    width: 100%;
  }
  .sectionFourth .first {
    width: 40%;
  }
  .sectionFourth .second {
    width: 60%;
  }
}
